# DATA 422 Group Project
## Final Dataset
### Samuel Love - 84107034

The goal of this notebook is to collect all the groups datasets join them as appropriate to produce final dataframes.

Sea-level data consists of predictions so will remain as its own dataframe.

The other dataframe will consist of weather, migration, and earthquake data joined by regions of New Zealand. This dataframe will cover the years 2014, 2015, 2016, and 2017.

In [1]:
# Selecting packages (Use Pkg.add("example") if not installed)
using Pkg, Queryverse, VegaDatasets, VegaLite, DataFrames

In [2]:
# Loading the csvs (ensure this notebook and data are in the same directory, else quote the path to the data)
Earthquake = load("Earthquake_data.csv")
Migration = load("Migration_data.csv")
Weather = load("Weather_data.csv")
Regions = load("Region_list.csv")

16x1 CSV file
.
──────────────────
Auckland
Bay of Plenty
Canterbury
Gisborne
Hawke's Bay
Manawatū-Whanganui
Marlborough
Nelson
Northland
Otago
... with 6 more rows

In [3]:
# Transforming the csv files into dataframes
Earthquake = Earthquake |> DataFrame
Earthquake |> describe

5×7 DataFrame
 Row │ variable      mean     min                   median  max                ⋯
     │ Symbol        Union…   Any                   Union…  Any                ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ year          2015.51  2014                  2015.0  2017               ⋯
   2 │ REGC2022_2             Bay of Plenty Region          West Coast Region
   3 │ REGC2022_V    10.0784  3                     9.0     18
   4 │ count_quakes  41.1818  1                     6.0     435
   5 │ ave_mag       4.38395  4.0192                4.4225  4.64012            ⋯
                                                               2 columns omitted

In [4]:
# Transforming the csv files into dataframes
Migration = Migration |> DataFrame
Migration |> describe

5×7 DataFrame
 Row │ variable      mean     min       median   max     nmissing  eltype
     │ Symbol        Union…   Any       Union…   Any     Int64     DataType
─────┼──────────────────────────────────────────────────────────────────────
   1 │ Region                 Auckland           West           0  String
   2 │ Category      2015.5   2014      2015.5   2017           0  Int64
   3 │ Departing     45045.0  3078      20340.0  188415         0  Int64
   4 │ Entering      45045.0  2853      19129.5  185739         0  Int64
   5 │ netmigration  0.0      -5844     -360.0   24279          0  Int64

In [5]:
# Transforming the csv files into dataframes
Weather = Weather |> DataFrame
Weather |> describe

5×7 DataFrame
 Row │ variable                    mean     min       median   max         nmi ⋯
     │ Symbol                      Union…   Any       Union…   Any         Int ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Year                        2015.5   2014      2015.5   2017            ⋯
   2 │ Region                               Auckland           West Coast
   3 │ Average_Precipitation (mm)  1218.53  448.63    1056.15  3731.4
   4 │ Average_Temperature (°C)    13.3575  10.3      13.385   16.68
   5 │ Average_Windspeed (kn)      39.6443  28.27     39.09    47.41           ⋯
                                                               2 columns omitted

In [6]:
# Checking they are now dataframes
print(Earthquake |> typeof," ", Migration |> typeof," ",  Weather |> typeof)

DataFrame DataFrame DataFrame

In [7]:
# Standardising region names
Regions = Regions |> DataFrame
Regions[!,:"."] |> unique

16-element Vector{String}:
 "Auckland"
 "Bay of Plenty"
 "Canterbury"
 "Gisborne"
 "Hawke's Bay"
 "Manawatū-Whanganui"
 "Marlborough"
 "Nelson"
 "Northland"
 "Otago"
 "Southland"
 "Taranaki"
 "Tasman"
 "Waikato"
 "Wellington"
 "West Coast"

In [8]:
All_regions = Regions[!,:"."] |> unique
insert!(All_regions, 8, "NA")

17-element Vector{String}:
 "Auckland"
 "Bay of Plenty"
 "Canterbury"
 "Gisborne"
 "Hawke's Bay"
 "Manawatū-Whanganui"
 "Marlborough"
 "NA"
 "Nelson"
 "Northland"
 "Otago"
 "Southland"
 "Taranaki"
 "Tasman"
 "Waikato"
 "Wellington"
 "West Coast"

In [9]:
Earthquake_regions = Earthquake[!,:REGC2022_2] |> unique |> sort
insert!(Earthquake_regions, 1, "Auckland")
insert!(Earthquake_regions, 10, "Northland")

17-element Vector{String}:
 "Auckland"
 "Bay of Plenty Region"
 "Canterbury Region"
 "Gisborne Region"
 "Hawke's Bay Region"
 "Manawatu-Whanganui Region"
 "Marlborough Region"
 "NA"
 "Nelson Region"
 "Northland"
 "Otago Region"
 "Southland Region"
 "Taranaki Region"
 "Tasman Region"
 "Waikato Region"
 "Wellington Region"
 "West Coast Region"

In [10]:
Migration_regions = Migration[!,:Region] |> unique |> sort
insert!(Migration_regions, 8, "NA")

17-element Vector{String}:
 "Auckland"
 "Bay"
 "Canterbury"
 "Gisborne"
 "Hawke's"
 "Manawatū-Whanganui"
 "Marlborough"
 "NA"
 "Nelson"
 "Northland"
 "Otago"
 "Southland"
 "Taranaki"
 "Tasman"
 "Waikato"
 "Wellington"
 "West"

In [11]:
Weather_regions = Weather[!,:Region] |> unique |> sort
insert!(Weather_regions, 13, "Tasman")
insert!(Weather_regions, 8, "NA")

17-element Vector{String}:
 "Auckland"
 "Bay of Plenty"
 "Canterbury"
 "Gisborne"
 "Hawke's Bay"
 "Manawatū-Whanganui"
 "Marlborough"
 "NA"
 "Nelson"
 "Northland"
 "Otago"
 "Southland"
 "Taranaki"
 "Tasman"
 "Waikato"
 "Wellington"
 "West Coast"

In [12]:
# Creting dataframes to standardise the regions
Standard_Earthquake = DataFrame(
    REGC2022_2 = Earthquake_regions,
    Standard_regions = All_regions)
Standard_Migration = DataFrame(
    Region = Migration_regions,
    Standard_regions = All_regions)
Standard_Weather = DataFrame(
    Region = Weather_regions,
    Standard_regions = All_regions)

17×2 DataFrame
 Row │ Region              Standard_regions
     │ String              String
─────┼────────────────────────────────────────
   1 │ Auckland            Auckland
   2 │ Bay of Plenty       Bay of Plenty
   3 │ Canterbury          Canterbury
   4 │ Gisborne            Gisborne
   5 │ Hawke's Bay         Hawke's Bay
   6 │ Manawatū-Whanganui  Manawatū-Whanganui
   7 │ Marlborough         Marlborough
   8 │ NA                  NA
   9 │ Nelson              Nelson
  10 │ Northland           Northland
  11 │ Otago               Otago
  12 │ Southland           Southland
  13 │ Taranaki            Taranaki
  14 │ Tasman              Tasman
  15 │ Waikato             Waikato
  16 │ Wellington          Wellington
  17 │ West Coast          West Coast

In [13]:
# Allowing missing values in the dataframes
Earthquake |> allowmissing!
Migration |> allowmissing!
Weather |> allowmissing!
print("")

In [14]:
# Creating a standardised region names column for each dataframe
Earthquake = outerjoin(Standard_Earthquake, Earthquake, on = :REGC2022_2, matchmissing = :equal)
Migration = outerjoin(Standard_Migration, Migration, on = :Region, matchmissing = :equal)
Weather = outerjoin(Standard_Weather, Weather, on = :Region, matchmissing = :equal)

62×6 DataFrame
 Row │ Region              Standard_regions    Year     Average_Precipitation  ⋯
     │ String?             String?             Int64?   Union{Missing, Float64 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Auckland            Auckland               2014                     101 ⋯
   2 │ Bay of Plenty       Bay of Plenty          2014                     109
   3 │ Canterbury          Canterbury             2014                      57
   4 │ Gisborne            Gisborne               2014                     109
   5 │ Hawke's Bay         Hawke's Bay            2014                      62 ⋯
   6 │ Manawatū-Whanganui  Manawatū-Whanganui     2014                      95
   7 │ Marlborough         Marlborough            2014                      59
   8 │ Nelson              Nelson                 2014                      86
   9 │ Northland           Northland              2014                     174 ⋯
  10 │ Otago               Otago                  2014                      63
  11 │ Southland           Southland              2014                     306
  ⋮  │         ⋮                   ⋮              ⋮                 ⋮          ⋱
  53 │ Nelson              Nelson                 2017                     101
  54 │ Northland           Northland              2017                     150 ⋯
  55 │ Otago               Otago                  2017                      64
  56 │ Southland           Southland              2017                     244
  57 │ Taranaki            Taranaki               2017                     129
  58 │ Waikato             Waikato                2017                     147 ⋯
  59 │ Wellington          Wellington             2017                     110
  60 │ West Coast          West Coast             2017                     224
  61 │ NA                  NA                  missing                  missin
  62 │ Tasman              Tasman              missing                  missin ⋯
                                                   3 columns and 41 rows omitted

In [15]:
# Removing the old regions columns
Earthquake = select!(Earthquake, Not(:REGC2022_2))
Migration = select!(Migration, Not(:Region))
Weather = select!(Weather, Not(:Region))

62×5 DataFrame
 Row │ Standard_regions    Year     Average_Precipitation (mm)  Average_Temper ⋯
     │ String?             Int64?   Union{Missing, Float64}     Union{Missing, ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Auckland               2014                     1017.9                  ⋯
   2 │ Bay of Plenty          2014                     1098.8
   3 │ Canterbury             2014                      575.23
   4 │ Gisborne               2014                     1096.0
   5 │ Hawke's Bay            2014                      625.2                  ⋯
   6 │ Manawatū-Whanganui     2014                      953.3
   7 │ Marlborough            2014                      591.8
   8 │ Nelson                 2014                      861.4
   9 │ Northland              2014                     1744.8                  ⋯
  10 │ Otago                  2014                      636.8
  11 │ Southland              2014                     3065.6
  ⋮  │         ⋮              ⋮                 ⋮                          ⋮   ⋱
  53 │ Nelson                 2017                     1018.8
  54 │ Northland              2017                     1502.25                 ⋯
  55 │ Otago                  2017                      641.53
  56 │ Southland              2017                     2449.97
  57 │ Taranaki               2017                     1298.0
  58 │ Waikato                2017                     1470.5                  ⋯
  59 │ Wellington             2017                     1103.6
  60 │ West Coast             2017                     2244.8
  61 │ NA                  missing                  missing
  62 │ Tasman              missing                  missing                    ⋯
                                                   2 columns and 41 rows omitted

In [17]:
# Joining the dataframes using the standardised region names and the year as the keys

In [ ]:
# Renaming the columns for clearer info? Consult others for names

In [ ]:
# Visualise the missingess (part of the visualising notebook)